{% extends 'base.html' %}
{% block content %}
    <h1>Club: {{ club }}</h1>
    <p>
        <strong>Name:</strong> {{ club.name }}
    </p>
    <p>
        <strong>Owner:</strong> {{ club.owner }}
    </p>
    <p>
        <strong>Type:</strong> {{ club.club_type }}
    </p>
    <p>
        <strong>Members:</strong> {{ club.number_of_members }}<a href="/ownerclub/{{ club.id }}/members/"> List</a>
    </p>
    <p>
        <strong>Creation date:</strong> {{ club.creation_date }}
    </p>
    <p>
        <strong>Address:</strong> {{ club.address }}
    </p>
	<p>
		<strong>Coordinates:</strong> {{ club.location_latitude }}, {{ club.location_longtitude }}
	</p>
	<p>
        <strong>Email:</strong> {{ club.email }}
    </p>
    <p>
        <strong>Facebook:</strong> {{ club.facebook }}
    </p>
    <p>
        <strong>Twitter:</strong> {{ club.twitter }}
    </p>
    <p>
        <strong>Contact:</strong> {{ club.contact_number }}
    </p>
    <p>
        <strong>Description:</strong> {% if club.description != Null %} {{ club.description }} {% else %} {% endif %}
    </p>
    <p>
        {{ club.likes }} people liked this club 
		<a href="/clubs/like/{{ club.id }}">
			<button>Like</button>
		</a>   
	</p>
	</p>
		<a href="/ownerclubs/{{club.id}}/edit/"><button>Edit</button></a> 
		<a href="/clubs/delete/{{ club.id }}"><button>Delete</button></a>   
	<p>
{% endblock %}
