{% extends 'base.html' %}
{% block content %}
    <h1>{{ club }}</h1>
    <p>
        <strong>Name:</strong> {{ club.name }}
    </p>
    <p>
        <strong>Owner:</strong> {{ club.owner }}
    </p>
    <p>
        <strong>Type:</strong> {{ club.club_type }}
    </p>
    <p>
        <strong>Members:</strong> {{ club.number_of_members }}<a href="/clubs/{{ club.id }}/members/"> List</a>
    </p>
    <p>
        <strong>Creation date:</strong> {{ club.creation_date }}
    </p>
    <p>
        <strong>Address:</strong> {{ club.address }}
    </p>
	<p>
		<strong>Coordinates:</strong> {{ club.location_latitude }}, {{ club.location_longitude }}
	</p>
	<p>
        <strong>Email:</strong> {{ club.email }}
    </p>
    <p>
        <strong>Facebook:</strong> <a href="{{ club.facebook }}">Link</a>
    </p>
    <p>
        <strong>Twitter:</strong> {{ club.twitter }}
    </p>
    <p>
        <strong>Contact:</strong> {{ club.contact_number }}
    </p>
    <p>
        <strong>Description:</strong> {% if club.description != Null %} {{ club.description }} {% else %} {% endif %}
    </p>
    <p>
        {{ club.likes }} people liked this club 
		<a href="/clubs/like/{{ club.id }}">
			Like
		</a>   
	</p>
	</p>
		<a href="/clubs/quit/{{ club.id }}">
			<button>Quit</button>
		</a>   
	<p>
{% endblock %}
