{% extends "base.html" %}

{% block content %}

	<h2>Welcome!</h2>
	<p>This website contains the database of sports and recreation clubs in Perth!</p>

	<div style="width: 40%">
		<p>
			<strong>For dummy users</strong>, <br/>
		</p>		
		<p>
			user id: firstname_lastname<br/>password: 123<br/><br/>
			e.g. For User Carol Jacobs: <br/> user id: carol_jacobs <br/>password: 123<br/>
		</p>
	</div>


	<footer>
		<p style="text-align: right"> 
			<i>***Looking for administrators! <br/>Please contact xyz@gmail.com to apply.</i><br/><br/>
			<strong>Done by:</strong><br/>Alvar Ongkowidjaja<br/>Edwin Chia<br/>Ian Tay<br/>William John
		</p>
	</footer>
{% endblock %} 
