{% extends "base.html" %}
{% block content %}

	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}

	<form action="/accounts/auth/" method="post"> {% csrf_token %}
		<ul style="list-style: none; margin-left: 0px; padding: 0px">
			<li>
				<label for="username">Username:</label>
				<input type="text" name="username" value="" id="username">
			</li>
			<li>
				<label for="password">Password:</label>
				<input type="password" name="password" value="" id="password">	
			</li>
			<li>
				<input type="submit" value="Login"/>				
			</li>
		</ul>
    </form>
{% endblock %}
